html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#playerBarContainer{
    background-color: black;
    width: 100%;
    min-width: 620px;
    bottom: 0;
    position: fixed;
}

#playerBar{
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#leftPB, #rightPB{
    width: 30%;
    min-width: 180px;
}

#centerPB{
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerBar .content{
    width: 100%;
}

.playerControls .btns{
    margin: 0 auto;
    display: table;
}

.controlButton{
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img{
    width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img{
    width: 32px;
    height: 32px;
}

.progressTime{
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playbackBar{
    display: flex;
}

.timeBar{
    width: 100%;
    height: 12px;
    display: inline-flex;
    align-items: center;

}

.timeBarBG{
    background-color: #404040;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.timeBarProgress{
    background-color: #a0a0a0;
    width: 0%;
    height: 4px;
    border-radius: 2px;
}

#leftPB .albumArtwork{
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}







