@font-face {
    font-family: 'roboto';
    src: url(../fonts/RobotoSlab-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    font-family: 'roboto';
    font-weight: bold;
}

body{
    background-color: #191919;
    font-size: 14px;
    min-width: 720px;
}

a{
    text-decoration: none;
    color: white;
}

#playerBarContainer{
    background-color: #000000e6;
    width: 100%;
    min-width: 620px;
    bottom: 0;
    position: fixed;
}

#playerBar{
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#leftPB, #rightPB{
    width: 30%;
    min-width: 180px;
}

#centerPB{
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerBar .content{
    width: 100%;
}

.playerControls .btns{
    margin: 0 auto;
    display: table;
}

.controlButton{
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img{
    width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img{
    width: 32px;
    height: 32px;
}

.progressTime{
    color: #a0a0a0;
    font-size: 10px;
    min-width: 40px;
    text-align: center;
}

.playbackBar{
    display: flex;
}

.timeBar{
    width: 100%;
    height: 12px;
    display: inline-flex;
    align-items: center;

}

.timeBarBG{
    background-color: #404040;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-top: 4px;
}

.timeBarProgress{
    background-color: #a0a0a0;
    width: 0%;
    height: 4px;
    border-radius: 2px;

}

#leftPB .albumArtwork{
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

#leftPB .trackInfo{
    display: table;
}

#leftPB .trackInfo .artist{
    margin: 2px 0;
    display: inline-block;
    width:100%;
    color: #fff;
}

#leftPB .trackInfo .track {
    font-size: 12px;
    color: #a0a0a0;
}

.volumeBar{
    width: 180px;
    position: absolute;
    right: 0;
}

#rightPB .timeBar{
    width: 125px;
    display: inline-block;
}

#rightPB{
    position: relative;
    margin: 16px;
}

#topContainer{
    width: 100%;
    min-height: 100%;
}

#navBarContainer{
    background-color: #000000eb;
    width: 220px;
    height: 100%;
    position: fixed;
    bottom: 90px;
    left: 0;
}

.logo img{
    margin-top: 105px;
    width: 170px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.navBar{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    position: relative;
}

.group{
    padding: 10px 0;
    padding-left: 45px;
    
}

.navItem{
    padding: 7px;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    
}

.icon{
    position: absolute;
    width: 25px;
    margin-top: -3px;
    margin-left: 80px;

}

.navBar .group{
    position: relative;
    border-top: 1px solid white;
    margin: 0 15px;
    padding: 10px 10px;
}

.navItemLink{
    color: white;
    transition: color 1s;
}

.navItemLink:hover{
    color: #D0FFB7;
}

#mainViewContainer{
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
}

#pageContent{
    padding: 0 20px;
}

.gridContainer{
    color: white;
}

.pageRec{
    padding: 15px;
    text-align: center;
    color:white;
}

.itemViewer{
    display: inline-block;
    margin-left: 20px;
    margin-right: 35px;
    margin-bottom: 20px;
    width: 29%;
    max-width: 270px;
    min-width: 150px;
}

.itemViewer img{
    width: 100%;
    border-radius: 5%;
    border: 2px solid #404040;
    transition: 1s;

}

.itemViewer img:hover{
    border: 2px solid white;

}

.infoViewer{
    font-weight: 550;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 1s;
}

.infoViewer a{
    color:white;
    text-decoration: none;
    letter-spacing: 1px;
}

.albumInfoHead{
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
    color:white;
}

.leftSide img{
    width: 100%;
    border-radius: 5%;
    border: 2px solid #404040;
}

.leftSide{
    width: 25%;
    float: left;
}

.rightSide{
    width: 65%;
    float: left;
    margin-left: 40px;
}

#beGreen{
    color: #D0FFB7;
}

.rightSide h2{
    margin-bottom: 0px;
    margin-top: 0px;
}

.rightSide p{
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 16px;
}

.trackList{
    padding: 0;
}

.tracklistRow{
    height: 40px;
    padding: 15px 10px;
    list-style: none;
    color: white;
}

.tracklistRow:hover{
    background-color: #292929;
}

.tracklistRow .trackCount{
    width: 8%;
    float: left;
}

.tracklistRow .trackCount img{
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.tracklistRow:hover .trackCount img{
    visibility: visible;
}

.tracklistRow .trackCount span{
    visibility: visible;
}

.tracklistRow:hover .trackCount span{
    visibility: hidden;
}

.tracklistRow{
    width: 75%;
    float: left;
}

.trackOptions{
    width: 25px;
    display: inline;
    float:right;
}

.trackOptions img{
    width:20px;
}

.trackDuration{
    margin-right: 40px;
    width: 25px;
    display: inline;
    float:right;
}

.trackCount{
    margin-top: 8px;
    margin-left: 20px;
}

.tName{
    color: #D0FFB7;
}

.artistInfo{
    font-size: 24;
    text-align: center;
}

.trackContainer{
    width: 1500px;
}

.button{
    color: #D0FFB7;
    background-color: transparent;
    cursor: pointer;
    /* font-weight: 20; */
    letter-spacing: 1px;
    font-size: 18;
    border: 2px solid #D0FFB7;
    border-radius: 500px;
    padding: 6px;
    min-width: 130px;
}

.borderBottom{
    border-bottom: 3px dotted;
    color: #D0FFB7;
    padding: 30px;
    width: 1100px;
}

.trackContainerd{
    width: 1155px;
    height: 300px;
    border-bottom: 3px dotted;
    border-color: #D0FFB7;
    margin-right: none;
}

.trackContainerd li{
    width: 1120px;
}

.gridContainerd{
    margin-top:30px;
    color:white;
}

[role="link"]{
    cursor: pointer;
}

.searchInput {
    font-family: inherit;
    width: 30%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 10px;
    background: transparent;
    margin-top: 40px;
    transition: border-color 0.2s;
}

::placeholder {
    color: transparent;
}


.form__label{
    position: absolute;
    top: 25px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #D0FFB7;
    margin-bottom: 40px;
}

.searchContainer{
    padding: 10px;
}

.pageContent{
    padding: 20px;
}

.h1Songs{
    color:white;
    text-align: center;
    width:1200px;
}

.h2Songs{
    color:white;
}

.searchRowResult{
    color: white;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top:8px;
}

.searchRowResult:hover{
    background-color: #282828;
    width: 1130px;
}

.buttonItems .button{
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

.pl{
    padding: 20px;
    text-align: center;
}

.playlistContainer{
    padding: 10px 0;
}

.itemViewer{
    padding-top: 40px;
}

.button2{
    color: #D0FFB7;
    background-color: transparent;
    cursor: pointer;
    /* font-weight: 20; */
    letter-spacing: 1px;
    font-size: 12;
    border: 2px solid #D0FFB7;
    border-radius: 500px;
    padding: 6px;
    min-width: 130px;
    margin-top: 20px;
}